<header>
        <nav class="navbar navbar-expand-lg navbar-light navigation">
          <a class="navbar-brand"><strong>Weather UG</strong></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
               <a class="navbar-brand" [routerLink]="'/login'"><h6>Login</h6></a></li>
               
            </ul>
           </div>
        </nav>
 </header>

<div class="container">
 <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 myborder">
        
         <form (submit)="onRegisterSubmit()">
             <h4 style="color: #7EB59E; margin: initial; margin-bottom: 10px;">Sign Up Now</h4><hr>
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user mycolor"></i></span>
                <input size="60" maxlength="255" class="form-control" placeholder="Name" name="name" id="UserRegistration_name" [(ngModel)]="name" type="text">                                                        </div>
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock mycolor"></i></span>
                <input size="60" maxlength="255" class="form-control" placeholder="UserName" name="username" [(ngModel)]="username" id="UserRegistration_username" type="username">                                    </div>
                  <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock mycolor"></i></span>
                <input size="60" maxlength="255" class="form-control" placeholder="Email" name="email" [(ngModel)]="email" id="UserRegistration_email"></div>
           
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="glyphicon glyphicon-phone mycolor"></i></span>
                <input size="60" maxlength="255" class="form-control" placeholder="Password" name="password" [(ngModel)]="password" id="UserRegistration_password" type="password">                                    </div>
           
                
                      <div class="align">     

			    		<input class="btn btn-success" type="submit" value="Sign Up">

			  
          </div>
          </form>
                
        
    </div>
      </div>
      </div>

      <footer>
            <!--Start Footer-->
            
                <div class="footer row space">
                    <div class="col-sm-4 space" id="footerAddress">
                        <h6 class="social">Address</h6>
                        <p>Weather UG.com</p>
                        <p>Greater Noida </p>
                        <p>201301(U.P),India</p>
                    </div>
                    <div class="col-sm-4 pull-right space" id="footerAbout">
                        <h6 class="social">Navigation</h6>
                        <ul class="active">
                            <li class="social"><h6><a class="navigationLink" href="#">About Us</a></h6></li>
                            <li class="social"><h6><a class="navigationLink" href="#">Home</a></h6></li>
                            <li class="social"><h6><a class="navigationLink" href="#">Links</a></h6></li>
                            <li class="social"><h6><a class="navigationLink" href="#">Contact</a></h6></li>
                        </ul>
                        
                        <h6 class="social">Copyright &copy; 2017 WeatherDekho.com</h6>
                    </div>
                    <div class="col-sm-3 pull-right space">
                        <h6 class="social">Follow Us</h6>
                        <ul class="active">

                        <li class="social"><h6><a class="navigationLink" href="https://www.twitter.com">Twitter</a></h6></li>
                        <li class="social"><h6><a class="navigationLink" href="https://www.facebook.com">Facebook</a></h6></li>
                        <li class="social"><h6><a class="navigationLink" href="https://www.youtube.com">YouTube</a></h6></li>
                        <li class="social"><h6><a class="navigationLink" href="https://www.instagram.com/">Instagram</a></h6></li>
                        </ul>
                        <br>
                        <br>
                        
                    </div>
                </div>
            
            <!--End Footer-->
        </footer>